.text-justify {
    text-align: justify;
}


.ice-card:hover {
    transform: scale(1.08);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
}

.flavor-card {
    text-align: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.flavor-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-img-top {
    height: 140px;
    object-fit: cover;
}
